In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [38]:
df_atur_genere_2022 = pd.read_csv('clean_data/2022/df_atur_genere.csv', delimiter=',')
df_atur_genere_2021 = pd.read_csv('clean_data/2021/df_atur_genere.csv', delimiter=',') 
df_atur_genere_2020 = pd.read_csv('clean_data/2020/df_atur_genere.csv', delimiter=',') 
df_atur_genere_2019 = pd.read_csv('clean_data/2019/df_atur_genere.csv', delimiter=',') 
df_atur_genere_2018 = pd.read_csv('clean_data/2018/df_atur_genere.csv', delimiter=',')

In [40]:
datasets = {
    'df_atur_genere_2022': df_atur_genere_2022,
    'df_atur_genere_2021': df_atur_genere_2021,
    'df_atur_genere_2020': df_atur_genere_2020,
    'df_atur_genere_2019': df_atur_genere_2019,
    'df_atur_genere_2018': df_atur_genere_2018,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_atur_genere_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         42 non-null     int64
 1   comarca      42 non-null     object
 2   total_homes  42 non-null     int64
 3   total_dones  42 non-null     int64
 4   total        42 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_atur_genere_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         42 non-null     int64
 1   comarca      42 non-null     object
 2   total_homes  42 non-null     int64
 3   total_dones  42 non-null     int64
 4   total        42 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_atur_genere_2020:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         42 non-null     int64
 1   comarca      42 non-null     object
 2   total_homes  42 non-null     int64
 3   total_dones  42 non-null     int64
 4   total        42 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_atur_genere_2019:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         42 non-null     int64
 1   comarca      42 non-null     object
 2   total_homes  42 non-null     int64
 3   total_dones  42 non-null     int64
 4   total        42 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_atur_genere_2018:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         42 non-null     int64
 1   comarca      42 non-null     object
 2   total_homes  42 non-null     int64
 3   total_dones  42 non-null     int64
 4   total        42 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.8+ KB

None

In [42]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_atur_genere_2022, 2022),
    (df_atur_genere_2021, 2021),
    (df_atur_genere_2020, 2020),
    (df_atur_genere_2019, 2019),
    (df_atur_genere_2018, 2018)
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_atur_genere = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informació final
df_atur_genere

     codi            comarca  total_homes  total_dones  total   any
0       1           alt camp         1050         1378   2427  2022
1       2        alt emporda         2709         3659   6368  2022
2       3        alt penedes         2050         2949   4998  2022
3       4         alt urgell          307          434    740  2022
4       5     alta ribagorca           47           55    101  2022
..    ...                ...          ...          ...    ...   ...
205    38             urgell          738         1046   1783  2018
206    39               aran          146          155    300  2018
207    40  valles occidental        21024        29561  50585  2018
208    41    valles oriental         8957        12830  21786  2018
209    42            moianes          198          296    493  2018

[210 rows x 6 columns]

In [44]:
df_atur_genere.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         210 non-null    int64
 1   comarca      210 non-null    object
 2   total_homes  210 non-null    int64
 3   total_dones  210 non-null    int64
 4   total        210 non-null    int64
 5   any          210 non-null    int64
dtypes: int64(5), object(1)
memory usage: 10.0+ KB

In [48]:
# Convertir la columna 'codi' a tipus string
df_atur_genere['codi'] = df_atur_genere['codi'].apply(lambda x: str(x).zfill(2))
display(df_atur_genere.head())
df_atur_genere.info()

  codi         comarca  total_homes  total_dones  total   any
0   01        alt camp         1050         1378   2427  2022
1   02     alt emporda         2709         3659   6368  2022
2   03     alt penedes         2050         2949   4998  2022
3   04      alt urgell          307          434    740  2022
4   05  alta ribagorca           47           55    101  2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codi         210 non-null    object
 1   comarca      210 non-null    object
 2   total_homes  210 non-null    int64
 3   total_dones  210 non-null    int64
 4   total        210 non-null    int64
 5   any          210 non-null    int64
dtypes: int64(4), object(2)
memory usage: 10.0+ KB

In [50]:
df_atur_genere.to_csv('clean_data/df_atur_genere.csv', index=False)