In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [17]:
df_repetidors_poblacio_2022 = pd.read_csv('clean_data/2022/df_repetidors_poblacio.csv', delimiter=',')
df_repetidors_poblacio_2021 = pd.read_csv('clean_data/2021/df_repetidors_poblacio.csv', delimiter=',')

In [19]:
datasets = {
    'df_repetidors_poblacio_2022': df_repetidors_poblacio_2022,
    'df_repetidors_poblacio_2021': df_repetidors_poblacio_2021,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_repetidors_poblacio_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codi                    41 non-null     int64
 1   comarca                 41 non-null     object
 2   total_repetixen         41 non-null     int64
 3   pct_repetidors_dones    41 non-null     float64
 4   ratio_repetidors_dones  41 non-null     float64
 5   pct_repetidors_homes    41 non-null     float64
 6   ratio_repetidors_homes  41 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 2.4+ KB

None

Info Dataset df_repetidors_poblacio_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codi                    41 non-null     int64
 1   comarca                 41 non-null     object
 2   total_repetixen         41 non-null     int64
 3   pct_repetidors_dones    41 non-null     float64
 4   ratio_repetidors_dones  41 non-null     float64
 5   pct_repetidors_homes    41 non-null     float64
 6   ratio_repetidors_homes  41 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 2.4+ KB

None

In [21]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_repetidors_poblacio_2022, 2022),
    (df_repetidors_poblacio_2021, 2021),
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_repetidors_poblacio = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informació final
df_repetidors_poblacio

,codi,comarca,total_repetixen,pct_repetidors_dones,ratio_repetidors_dones,pct_repetidors_homes,ratio_repetidors_homes,any
0,1,alt camp,125,2.009569,0.020096,3.971292,0.039713,2022
1,2,alt emporda,339,2.086160,0.020862,3.663501,0.036635,2022
2,3,alt penedes,241,1.551020,0.015510,3.367347,0.033673,2022
3,4,alt urgell,50,1.679731,0.016797,3.919373,0.039194,2022
4,5,alta ribagorca,13,3.589744,0.035897,3.076923,0.030769,2022
...,...,...,...,...,...,...,...,...
77,37,terra alta,5,0.199601,0.001996,0.798403,0.007984,2021
78,38,urgell,65,1.331789,0.013318,2.431963,0.024320,2021
79,40,valles occidental,1906,1.461869,0.014619,2.647750,0.026478,2021
80,41,valles oriental,658,1.035323,0.010353,2.304101,0.023041,2021
81,42,moianes,13,0.483871,0.004839,1.612903,0.016129,2021

In [23]:
df_repetidors_poblacio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codi                    82 non-null     int64
 1   comarca                 82 non-null     object
 2   total_repetixen         82 non-null     int64
 3   pct_repetidors_dones    82 non-null     float64
 4   ratio_repetidors_dones  82 non-null     float64
 5   pct_repetidors_homes    82 non-null     float64
 6   ratio_repetidors_homes  82 non-null     float64
 7   any                     82 non-null     int64
dtypes: float64(4), int64(3), object(1)
memory usage: 5.3+ KB

In [25]:
# Convertir la columna 'codi' a tipus string
df_repetidors_poblacio['codi'] = df_repetidors_poblacio['codi'].apply(lambda x: str(x).zfill(2))
display(df_repetidors_poblacio.head())
df_repetidors_poblacio.info()

,codi,comarca,total_repetixen,pct_repetidors_dones,ratio_repetidors_dones,pct_repetidors_homes,ratio_repetidors_homes,any
0,01,alt camp,125,2.009569,0.020096,3.971292,0.039713,2022
1,02,alt emporda,339,2.086160,0.020862,3.663501,0.036635,2022
2,03,alt penedes,241,1.551020,0.015510,3.367347,0.033673,2022
3,04,alt urgell,50,1.679731,0.016797,3.919373,0.039194,2022
4,05,alta ribagorca,13,3.589744,0.035897,3.076923,0.030769,2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codi                    82 non-null     object
 1   comarca                 82 non-null     object
 2   total_repetixen         82 non-null     int64
 3   pct_repetidors_dones    82 non-null     float64
 4   ratio_repetidors_dones  82 non-null     float64
 5   pct_repetidors_homes    82 non-null     float64
 6   ratio_repetidors_homes  82 non-null     float64
 7   any                     82 non-null     int64
dtypes: float64(4), int64(2), object(2)
memory usage: 5.3+ KB

In [27]:
df_repetidors_poblacio.to_csv('clean_data/df_repetidors_poblacio.csv', index=False)