In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [16]:
df_repetidors_2022 = pd.read_csv('clean_data/2022/df_repetidors.csv', delimiter=',')
df_repetidors_2021 = pd.read_csv('clean_data/2021/df_repetidors.csv', delimiter=',') 
df_repetidors_2020 = pd.read_csv('clean_data/2020/df_repetidors.csv', delimiter=',') 
df_repetidors_2019 = pd.read_csv('clean_data/2019/df_repetidors.csv', delimiter=',') 
df_repetidors_2018 = pd.read_csv('clean_data/2018/df_repetidors.csv', delimiter=',')

In [18]:
datasets = {
    'df_repetidors_2022': df_repetidors_2022,
    'df_repetidors_2021': df_repetidors_2021,
    'df_repetidors_2020': df_repetidors_2020,
    'df_repetidors_2019': df_repetidors_2019,
    'df_repetidors_2018': df_repetidors_2018,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_repetidors_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       82 non-null     int64
 1   comarca    82 non-null     object
 2   sexe       82 non-null     object
 3   repetixen  82 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.7+ KB

None

Info Dataset df_repetidors_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       82 non-null     int64
 1   comarca    82 non-null     object
 2   sexe       82 non-null     object
 3   repetixen  82 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.7+ KB

None

Info Dataset df_repetidors_2020:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       81 non-null     int64
 1   comarca    81 non-null     object
 2   sexe       81 non-null     object
 3   repetixen  81 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.7+ KB

None

Info Dataset df_repetidors_2019:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       82 non-null     int64
 1   comarca    82 non-null     object
 2   sexe       82 non-null     object
 3   repetixen  82 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.7+ KB

None

Info Dataset df_repetidors_2018:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       82 non-null     int64
 1   comarca    82 non-null     object
 2   sexe       82 non-null     object
 3   repetixen  82 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.7+ KB

None

In [20]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_repetidors_2022, 2022),
    (df_repetidors_2021, 2021),
    (df_repetidors_2020, 2020),
    (df_repetidors_2019, 2019),
    (df_repetidors_2018, 2018)
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_repetidors = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informaciÃ³ final
df_repetidors

     codi            comarca  sexe  repetixen   any
0       1           alt camp  dona         42  2022
1       1           alt camp  home         83  2022
2       2        alt emporda  dona        123  2022
3       2        alt emporda  home        216  2022
4       3        alt penedes  dona         76  2022
..    ...                ...   ...        ...   ...
404    40  valles occidental  home       1187  2018
405    41    valles oriental  home        499  2018
406    41    valles oriental  dona        254  2018
407    42            moianes  home          9  2018
408    42            moianes  dona          2  2018

[409 rows x 5 columns]

In [22]:
df_repetidors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       409 non-null    int64
 1   comarca    409 non-null    object
 2   sexe       409 non-null    object
 3   repetixen  409 non-null    int64
 4   any        409 non-null    int64
dtypes: int64(3), object(2)
memory usage: 16.1+ KB

In [24]:
# Convertir la columna 'codi' a tipus string
df_repetidors['codi'] = df_repetidors['codi'].apply(lambda x: str(x).zfill(2))
display(df_repetidors.head())
df_repetidors.info()

  codi      comarca  sexe  repetixen   any
0   01     alt camp  dona         42  2022
1   01     alt camp  home         83  2022
2   02  alt emporda  dona        123  2022
3   02  alt emporda  home        216  2022
4   03  alt penedes  dona         76  2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codi       409 non-null    object
 1   comarca    409 non-null    object
 2   sexe       409 non-null    object
 3   repetixen  409 non-null    int64
 4   any        409 non-null    int64
dtypes: int64(2), object(3)
memory usage: 16.1+ KB

In [26]:
df_repetidors.to_csv('clean_data/df_repetidors.csv', index=False)