In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [19]:
df_renta_familiar_2021 = pd.read_csv('clean_data/2021/df_renta_familiar.csv', delimiter=',') 
df_renta_familiar_2020 = pd.read_csv('clean_data/2020/df_renta_familiar.csv', delimiter=',') 
df_renta_familiar_2019 = pd.read_csv('clean_data/2019/df_renta_familiar.csv', delimiter=',') 
df_renta_familiar_2018 = pd.read_csv('clean_data/2018/df_renta_familiar.csv', delimiter=',')

In [21]:
datasets = {
    'df_renta_familiar_2021': df_renta_familiar_2021,
    'df_renta_familiar_2020': df_renta_familiar_2020,
    'df_renta_familiar_2019': df_renta_familiar_2019,
    'df_renta_familiar_2018': df_renta_familiar_2018,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_renta_familiar_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   codi                                                    42 non-null     int64
 1   comarca                                                 42 non-null     object
 2   rfdb_(miles_de_euros)                                   42 non-null     int64
 3   rfdb_por_habitante_(euros)                              42 non-null     int64
 4   rfdb_por_habitante_(index_catalunya=100_por_habitante)  42 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_renta_familiar_2020:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   codi                                                    42 non-null     int64
 1   comarca                                                 42 non-null     object
 2   rfdb_(miles_de_euros)                                   42 non-null     int64
 3   rfdb_por_habitante_(euros)                              42 non-null     int64
 4   rfdb_por_habitante_(index_catalunya=100_por_habitante)  42 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_renta_familiar_2019:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   codi                                                    42 non-null     int64
 1   comarca                                                 42 non-null     object
 2   rfdb_(miles_de_euros)                                   42 non-null     int64
 3   rfdb_por_habitante_(euros)                              42 non-null     int64
 4   rfdb_por_habitante_(index_catalunya=100_por_habitante)  42 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.8+ KB

None

Info Dataset df_renta_familiar_2018:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   codi                                                    42 non-null     int64
 1   comarca                                                 42 non-null     object
 2   rfdb_(miles_de_euros)                                   42 non-null     int64
 3   rfdb_por_habitante_(euros)                              42 non-null     int64
 4   rfdb_por_habitante_(index_catalunya=100_por_habitante)  42 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.8+ KB

None

In [23]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_renta_familiar_2021, 2021),
    (df_renta_familiar_2020, 2020),
    (df_renta_familiar_2019, 2019),
    (df_renta_familiar_2018, 2018)
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_renta_familiar = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informació final
df_renta_familiar

,codi,comarca,rfdb_(miles_de_euros),rfdb_por_habitante_(euros),rfdb_por_habitante_(index_catalunya=100_por_habitante),any
0,1,alt camp,747053,16512,90.0,2021
1,2,alt emporda,2059702,14339,78.1,2021
2,3,alt penedes,1958312,17716,96.5,2021
3,4,alt urgell,293835,14416,78.5,2021
4,5,alta ribagorca,60948,15345,83.6,2021
...,...,...,...,...,...,...
163,38,urgell,515846,14233,81.4,2018
164,39,aran,156314,15759,90.1,2018
165,40,valles occidental,16292531,17714,101.3,2018
166,41,valles oriental,7002267,17207,98.4,2018
167,42,moianes,224543,16749,95.8,2018

In [25]:
df_renta_familiar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 6 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   codi                                                    168 non-null    int64
 1   comarca                                                 168 non-null    object
 2   rfdb_(miles_de_euros)                                   168 non-null    int64
 3   rfdb_por_habitante_(euros)                              168 non-null    int64
 4   rfdb_por_habitante_(index_catalunya=100_por_habitante)  168 non-null    float64
 5   any                                                     168 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 8.0+ KB

In [27]:
# Convertir la columna 'codi' a tipus string
df_renta_familiar['codi'] = df_renta_familiar['codi'].apply(lambda x: str(x).zfill(2))
display(df_renta_familiar.head())
df_renta_familiar.info()

,codi,comarca,rfdb_(miles_de_euros),rfdb_por_habitante_(euros),rfdb_por_habitante_(index_catalunya=100_por_habitante),any
0,01,alt camp,747053,16512,90.0,2021
1,02,alt emporda,2059702,14339,78.1,2021
2,03,alt penedes,1958312,17716,96.5,2021
3,04,alt urgell,293835,14416,78.5,2021
4,05,alta ribagorca,60948,15345,83.6,2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 6 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   codi                                                    168 non-null    object
 1   comarca                                                 168 non-null    object
 2   rfdb_(miles_de_euros)                                   168 non-null    int64
 3   rfdb_por_habitante_(euros)                              168 non-null    int64
 4   rfdb_por_habitante_(index_catalunya=100_por_habitante)  168 non-null    float64
 5   any                                                     168 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 8.0+ KB

In [25]:
df_renta_familiar.to_csv('clean_data/df_renta_familiar.csv', index=False)