In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [3]:
formacio_genere_pivot_2022 = pd.read_csv('clean_data/2022/formacio_genere_pivot.csv', delimiter=',')
formacio_genere_pivot_2021 = pd.read_csv('clean_data/2021/formacio_genere_pivot.csv', delimiter=',')

In [5]:
datasets = {
    'formacio_genere_pivot_2022': formacio_genere_pivot_2022,
    'formacio_genere_pivot_2021': formacio_genere_pivot_2021,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset formacio_genere_pivot_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codi           252 non-null    int64
 1   comarca        252 non-null    object
 2   tipus_estudis  252 non-null    object
 3   sexe           252 non-null    object
 4   valor          252 non-null    int64
dtypes: int64(2), object(3)
memory usage: 10.0+ KB

None

Info Dataset formacio_genere_pivot_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codi           252 non-null    int64
 1   comarca        252 non-null    object
 2   tipus_estudis  252 non-null    object
 3   sexe           252 non-null    object
 4   valor          252 non-null    int64
dtypes: int64(2), object(3)
memory usage: 10.0+ KB

None

In [7]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (formacio_genere_pivot_2022, 2022),
    (formacio_genere_pivot_2021, 2021),
]

# Afegir la columna 'any' i concatenar tots els DataFrames
formacio_genere_pivot = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informació final
formacio_genere_pivot

     codi   comarca         tipus_estudis   sexe  valor   any
0       1  alt camp  educacio_obligatoria  dones  12360  2022
1       1  alt camp  educacio_obligatoria  homes  13899  2022
2       1  alt camp     estudis_superiors  dones   5841  2022
3       1  alt camp     estudis_superiors  homes   5229  2022
4       1  alt camp        sense_educacio  dones    780  2022
..    ...       ...                   ...    ...    ...   ...
499    42   moianes  educacio_obligatoria  homes   4287  2021
500    42   moianes     estudis_superiors  dones   2160  2021
501    42   moianes     estudis_superiors  homes   1920  2021
502    42   moianes        sense_educacio  dones    108  2021
503    42   moianes        sense_educacio  homes     66  2021

[504 rows x 6 columns]

In [9]:
formacio_genere_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codi           504 non-null    int64
 1   comarca        504 non-null    object
 2   tipus_estudis  504 non-null    object
 3   sexe           504 non-null    object
 4   valor          504 non-null    int64
 5   any            504 non-null    int64
dtypes: int64(3), object(3)
memory usage: 23.8+ KB

In [11]:
# Convertir la columna 'codi' a tipus string
formacio_genere_pivot['codi'] = formacio_genere_pivot['codi'].apply(lambda x: str(x).zfill(2))
display(formacio_genere_pivot.head())
formacio_genere_pivot.info()

  codi   comarca         tipus_estudis   sexe  valor   any
0   01  alt camp  educacio_obligatoria  dones  12360  2022
1   01  alt camp  educacio_obligatoria  homes  13899  2022
2   01  alt camp     estudis_superiors  dones   5841  2022
3   01  alt camp     estudis_superiors  homes   5229  2022
4   01  alt camp        sense_educacio  dones    780  2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codi           504 non-null    object
 1   comarca        504 non-null    object
 2   tipus_estudis  504 non-null    object
 3   sexe           504 non-null    object
 4   valor          504 non-null    int64
 5   any            504 non-null    int64
dtypes: int64(2), object(4)
memory usage: 23.8+ KB

In [13]:
formacio_genere_pivot.to_csv('clean_data/formacio_genere_pivot.csv', index=False)